<div class="panel margin-top-20px">

    <div class="panel-header">
        @{
            ViewBag.Title = "Contato";
        }
    </div>


    <h2 class="text-center text-info">Contato</h2>
    <hr />
    <br><br>


    <div class="panel-body">
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="~/Content/andre.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Andre Brilho</h4>
                    <p class="card-text"><a href="https://github.com/andrebrilho">github.com/andrebrilho</a></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/Content/claudia.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Claudia Hikary</h4>
                    <p class="card-text"><a href="https://github.com/Hikaryamada">github.com/Hikaryamada</a></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/Content/guilherme.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Guilherme Santos</h4>
                    <p class="card-text"><a href="https://github.com/gbdsantos">github.com/gbdsantos</a></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/Content/victor.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Victor Grossi</h4>
                    <p class="card-text"><a href="https://github.com/GrossiV">github.com/GrossiV</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <address>
            Rua das Pedras<br />
            Bairro do Limão, SP 04144-022<br />
            <p>Fone: (11)0236-5678</p>

        </address>

        <address>
            <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Support@golpixta.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@brilho.com</a>
        </address>

    </div>
</div>
